[submodule "5etools-src"]
	path = 5etools-src
	url = https://github.com/5etools-mirror-3/5etools-src/
[submodule "5etools-homebrew"]
	path = 5etools-homebrew
	url = https://github.com/DaFrankort/homebrew-light.git
